<!--================ Start Department Area =================-->
<div class="department_area section_gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="dpmt_courses">
                    <div class="row">
                        <!-- single course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon1.png" alt="">
                                </div>
                                <h4>Мови</h4>
                            </div>
                        </div>
                        <!-- single course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon2.png" alt="">
                                </div>
                                <h4>Технології</h4>
                            </div>
                        </div>
                        <!-- single course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon3.png" alt="">
                                </div>
                                <h4>Теорія</h4>
                            </div>
                        </div>
                        <!-- single course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon4.png" alt="">
                                </div>
                                <h4>Проектування</h4>
                            </div>
                        </div>
                        <!-- single course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon5.png" alt="">
                                </div>
                                <h4>Практика</h4>
                            </div>
                        </div>
                        <!-- single course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon6.png" alt="">
                                </div>
                                <h4>Розробка ПЗ</h4>
                            </div>
                        </div>
                        <!-- single course -->
                        <div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
                            <div class="single_department">
                                <div class="dpmt_icon">
                                    <img src="/assets/images/dpmt/icon7.png" alt="">
                                </div>
                                <h4>Обслуговування ПК</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="dpmt_right">
                    <h1>Більше 2500 дисциплін для 5 спеціалізацій</h1>
                    <p>Вибір професії - одне з найважливіших рішень у житті кожного. Від того, чи правильним воно буде,
                        - чи вдасться обрати справу до душі, у відповідності до своїх здібностей чи покликання -
                        залежить все майбутнє життя людини - її доброрбут, якість самого життя, задоволення від роботи,
                        впевненість у собі тощо. Недаремно вибір професії - перший крок до дорослого життя - часто
                        називають другим народженням. </p>
                    <p>В нашому навчальному закладі ви зможете знайти нових друзів, отримати престижну професію,
                        попрацювати над реальними проектами, знайти майбутніх роботодавцій, продовжити навчання у ВНЗ м.
                        Полтави, Харкова та ін.</p>
                    <a href="#" class="primary-btn text-uppercase">Дізнатися більше</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Department Area =================-->