<!--================ Start Feature Area =================-->
<section class="feature_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="single_feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-book"></span>
                    </div>
                    <div class="desc">
                        <h4>Актуальні знання</h4>
                        <p>
                            Престижні спеціальності з можливістю продовження навчання в закладах вищої освіти
                        </p>
                    </div>
                </div>
                <div class="single_feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="fa fa-trophy"></span>
                    </div>
                    <div class="desc">
                        <h4>Кваліфіковані викладачі</h4>
                        <p>
                            Згуртований колектив фахівців-практиків, які прагнуть поділитись своїми знаннями
                        </p>
                    </div>
                </div>
                <div class="single_feature d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-screen"></span>
                    </div>
                    <div class="desc">
                        <h4>Сучасні технології</h4>
                        <p>
                            Комбінація лекційних, самостійних, дистанційних занять з використанням сучасних технічних засобів
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Feature Area =================-->