<header class="header_area">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left">
                    <a href="tel:{{site.data.contactData.phoneLink}}">
                        <span class="lnr lnr-phone"></span>
                        <span class="text">
								<span class="text">{{ site.data.contactData.phone }}</span>
							</span>
                    </a>
                    <a href="mailto:{{ site.data.contactData.email }}">
                        <span class="lnr lnr-envelope"></span>
                        <span class="text">
								<span class="text">{{ site.data.contactData.email }}</span>
							</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main_menu">
        {% include navigation.html %}
    </div>
</header>