<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h2>
                            Полтавський політехнічний коледж
                            <br>
                            <small>НТУ "ХПІ"</small>
                        </h2>
                        <p class="banner_content_description">
                            Навчання в нашому коледжі -
                            це вдала інвестиція в твоє майбутнє!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->